# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/GEngine-3D/FileContentIndex/35ba5783-c046-4869-972f-745dea71510a.vsidx
.vs/GEngine-3D/FileContentIndex/4b19cd7e-9442-4024-a930-2f797df5a0c6.vsidx
.vs/GEngine-3D/FileContentIndex/4eb12eaf-e8a2-4783-8307-ba8f5fe67bc1.vsidx
.vs/GEngine-3D/FileContentIndex/a5daa9c4-6341-4e3a-9ca1-28e5d6a00460.vsidx
.vs/GEngine-3D/v17/.suo
.vs/GEngine-3D/v17/Browse.VC.db
.vs/GEngine-3D/v17/Browse.VC.db-shm
.vs/GEngine-3D/v17/Browse.VC.db-wal
.vs/GEngine-3D/v17/Browse.VC.opendb
.vs/GEngine-3D/v17/ipch/AutoPCH/b94f80b2d40e0beb/SHADER.ipch
.vs/GEngine-3D/v17/ipch/AutoPCH/e4ae20bb51d95aa/MAIN.ipch
Debug/GEngine-3D.exe.recipe
Debug/GEngine-3D.ilk
Debug/GEngine-3D.log
Debug/GEngine-3D.pdb
Debug/GEngine-3D.tlog/CL.command.1.tlog
Debug/GEngine-3D.tlog/Cl.items.tlog
Debug/GEngine-3D.tlog/CL.read.1.tlog
Debug/GEngine-3D.tlog/CL.write.1.tlog
Debug/GEngine-3D.tlog/GEngine-3D.lastbuildstate
Debug/GEngine-3D.tlog/link.command.1.tlog
Debug/GEngine-3D.tlog/link.read.1.tlog
Debug/GEngine-3D.tlog/link.write.1.tlog
Debug/GEngine-3D.vcxproj.FileListAbsolute.txt
Debug/vc143.idb
Debug/vc143.pdb
